<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-card class="card" style="display: flex; flex-direction: column; justify-content: space-between; cursor: pointer; border-radius: 10px; height: 380px; padding: 10px;" (click)="showProduct(item)" >
        <div style=" text-align: center; padding: 10px; height: 60%;">
           <img class="img" alt="Silhouette of mountains" src="http://localhost:3001{{product.getImageURL}}" />
        </div>

        <div style="padding: 10px; display: flex; flex-direction: column; justify-content: space-between; height: 40%;">
          <ion-card-title style="font-size: 18px; color: #373737; font-weight: bold;">{{ product.getNombre }}</ion-card-title>
          <!-- <!-- <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->

          <div style="display: flex; align-items: center;
                justify-content: space-between;">
            <p style="font-size: 22px; margin: 0; color: #373737; font-weight: bold;"  >$ {{ product.getPrecio }}</p>
            <ion-icon name="cart-outline" class="carrito" style="position: relative;
                  right: 0px;
                  height: 30px;
                  width: 30px;
                  color: #FF9900;">
            </ion-icon>
          </div>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

