.card:hover {
  transform: scale(1.05);
  transition: all 300ms ease;
}

.carrito:hover {
  transform: scale(1.3);
  transition: all 300ms ease;
}


.card {
  box-shadow: 0 3px 3px rgb(0, 0, 0, 0.2);
}

.img{
  height: 200px;
  object-fit: scale-down;
  // height: 250px;
  // background-size: 100% 100%;
  // background-repeat:no-repeat;
  // background-size: cover;
  }

.img img{
  width: 100%;
}
