form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.container { max-width: 450px; margin: auto; }

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 25%;
}

.left { float: left; }

.right { float: right; }

.btn-grey{
    background-color: #eeeff2;
    border: 1px solid;
    border-color: black;
    color: black;
}

.btn-grey:hover{
    background-color: #d6d7da;
    color:black;
}

.img_1 {
    height: 31px;
    width: 103px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .extra-margin {
    margin-top: 200px;
  }

  .btn {
    width: 100%;
    margin-top: 20px;
  }

  .btn-warning {
    --bs-btn-bg: #FF9900
  }




  form {
    border: 1px solid lightgrey;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 16px;
    padding-bottom: 25px;
    border-radius: 5px;
  }

  #words_1 {
    font-weight: bold;
    font-size: 14px;
  }

  #words_2 {
    font-weight: bold;
    font-size: 14px;
  }

  #words_3 {
    font: 7px;
  }

  .sign-in {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
  }

  .conditions {
    font-size: 8px;
    color: blue;
    margin-top: 30px;
    z-index: 2;




  }

  .footer_1 {
    width: max;
    height: 350px;
    background-color: #fff;
    margin-top: 30px;

  }

  #exampleCheck1 {
    margin-left: 3px;
    margin-top: 11px;
  }

  .keep-sign-in {
    margin-left: 24px;
    margin-top: 8px;
    font-size: 14px;
  }

  #sign-in {
    margin-bottom: 10px;
  }

  #grey-button {
    background-color: lightgrey;
    border: black;


  }


