<!------ Include the above in your HEAD tag ---------->
<div class="container" style="padding-bottom: 12px; display: flex;justify-content: center;"><a [routerLink]="['']"><img
    src="../../../../assets/logoVT.png" width="400"></a></div>
<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="" [formGroup]="usuarioForm">
          <div class="form-group">
            <h2>Iniciar Sesion</h2>
          </div>
          <div class="form-group">
            <strong>Email</strong>
            <input id="signinEmail" type="email" maxlength="50" class="form-control" formControlName="correo">
          </div>
          <div>
            <ng-container *ngFor="let validation of validationMessages.correo">
              <div *ngIf="usuarioForm.get('correo').hasError(validation.type) &&
								(usuarioForm.get('correo').dirty ||
								usuarioForm.get('correo').touched)">
                <span style="color: red;">{{validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <div class="form-group">
            <strong>Password</strong>

            <input id="signinPassword" type="password" maxlength="25" class="form-control" formControlName="contra">
          </div>
          <div>
            <ng-container *ngFor="let validation of validationMessages.contra">
              <div *ngIf="usuarioForm.get('contra').hasError(validation.type) &&
								(usuarioForm.get('contra').dirty ||
								usuarioForm.get('contra').touched)">
                <span style="color: red;">{{validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <div class="form-group" style="padding-top: 12px;">
            <button id="signinSubmit" type="submit" class="btn btn-warning btn-block" (click)="logIn()"><span
                style="color:black">Iniciar Sesión</span></button>
          </div>
          <p class="form-group">Al continuar, aceptas las <span style="color:dodgerblue">Condiciones de uso</span> y el
            <span style="color:dodgerblue">Aviso de privacidad</span> de VendeTodo.</p>
        </form>
      </div>
    </div>
    <div class="form-group divider" style="display: flex; align-items: center;">
      <hr class="left"><small style="white-space: nowrap; margin: 0 10px ;">¿Eres nuevo en VendeTodo?</small>
      <hr class="right">
    </div>
    <p class="form-group" [routerLink]="['/signup']"><a class="btn btn-grey btn-block">Crear tu cuenta de VendeTodo</a>
    </p>

  </div>
