form { margin: 0px 10px; }

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
body{
  margin: 0;
  padding: 0;
}

.container { max-width: 800px; }

.divider {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.divider hr {
  margin: 7px 0px;
  width: 25%;
}

.left { float: left; }

.right { float: right; }
  
.btn-grey{
    background-color: #eeeff2;
    border: 1px solid;
    border-color: black;
    color: black;
}

.btn-grey:hover{
    background-color: #d6d7da;
    color:black;
}

