<!------ Include the above in your HEAD tag ---------->
<ion-toolbar class="boton_aplicar">
  <ion-title style="color: black" *ngIf="!edita">Agregar Empleado</ion-title>
  <ion-title style="color: white" *ngIf="">Editar producto</ion-title>
  <ion-buttons slot="end">
    <ion-button class="boton_aplicar" style="color:black ;" (click)="cerrarSinData()">Cerrar</ion-button>
  </ion-buttons>
</ion-toolbar>


<div class="container inner-scroll" style="padding-bottom: 12px; display: flex;justify-content: center;">
  <div class="container">
    <div class="row">
      <div class="">
        <div class="panel-body">
          <form action="" [formGroup]="empleadoForm">
            <div class="row">
              <div class="form-group col-6">
                <strong>Nombre</strong>
                <input type="text" maxlength="50" class="form-control" formControlName="nombre"
                  (keypress)="soloLetras($event,'')">
                <ng-container *ngFor="let validation of validationMessages.nombre">
                  <div *ngIf="empleadoForm.get('nombre').hasError(validation.type) &&
								(empleadoForm.get('nombre').dirty ||
								empleadoForm.get('nombre').touched)">
                    <span style="color: red;">{{validation.message }}</span>
                  </div>
                </ng-container>
              </div>
              <div class="form-group col-6">
                <strong>Apellido Paterno</strong>

                <input type="text" maxlength="25" class="form-control" formControlName="ape_paterno"
                  (keypress)="soloLetras($event,'')">

                <ng-container *ngFor="let validation of validationMessages.ape_paterno">
                  <div *ngIf="empleadoForm.get('ape_paterno').hasError(validation.type) &&
								(empleadoForm.get('ape_paterno').dirty ||
								empleadoForm.get('ape_paterno').touched)">
                    <span style="color: red;">{{validation.message }}</span>
                  </div>
                </ng-container>

              </div>
              <div class="form-group col-6">
                <strong>Apellido Materno</strong>

                <input type="text" maxlength="25" class="form-control" formControlName="ape_materno"
                  (keypress)="soloLetras($event,'')">

                <ng-container *ngFor="let validation of validationMessages.ape_materno">
                  <div *ngIf="empleadoForm.get('ape_materno').hasError(validation.type) &&
								(empleadoForm.get('ape_materno').dirty ||
								empleadoForm.get('ape_materno').touched)">
                    <span style="color: red;">{{validation.message }}</span>
                  </div>
                </ng-container>

              </div>
              <div class="form-group col-6">
                <strong>Telefono</strong>

                <input type="text" maxlength="10" class="form-control" formControlName="telefono"
                  onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">

                <ng-container *ngFor="let validation of validationMessages.telefono">
                  <div *ngIf="empleadoForm.get('telefono').hasError(validation.type) &&
								(empleadoForm.get('telefono').dirty ||
								empleadoForm.get('telefono').touched)">
                    <span style="color: red;">{{validation.message }}</span>
                  </div>
                </ng-container>

              </div>
              <!-- <div class="form-group col-6">
							<strong>Codigo Postal</strong>

							<input  type="text" maxlength="5" class="form-control"
							formControlName="cp" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">

              <ng-container *ngFor="let validation of validationMessages.cp">
								<div *ngIf="empleadoForm.get('cp').hasError(validation.type) &&
								(empleadoForm.get('cp').dirty ||
								empleadoForm.get('cp').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>

						</div>
            <div class="form-group col-6">
							<strong>Calle</strong>

							<input  type="text" maxlength="25" class="form-control"
							formControlName="calle" (keypress)="soloLetras($event,'')">

              <ng-container *ngFor="let validation of validationMessages.calle">
								<div *ngIf="empleadoForm.get('calle').hasError(validation.type) &&
								(empleadoForm.get('calle').dirty ||
								empleadoForm.get('calle').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>

						</div>
            <div class="form-group col-6">
							<strong>Ciudad</strong>

							<input  type="text" maxlength="25" class="form-control"
							formControlName="ciudad" (keypress)="soloLetras($event,'')">

              <ng-container *ngFor="let validation of validationMessages.ciudad">
								<div *ngIf="empleadoForm.get('ciudad').hasError(validation.type) &&
								(empleadoForm.get('ciudad').dirty ||
								empleadoForm.get('ciudad').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>
						</div>
            <div class="form-group col-6">
							<strong>No Exterior</strong>

							<input  type="text" maxlength="25" class="form-control"
							formControlName="no_exterior" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">

              <ng-container *ngFor="let validation of validationMessages.no_exterior">
								<div *ngIf="empleadoForm.get('no_exterior').hasError(validation.type) &&
								(empleadoForm.get('no_exterior').dirty ||
								empleadoForm.get('no_exterior').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>

						</div> -->
              <div class="form-group col-6">
                <strong>Correo</strong>

                <input type="email" maxlength="25" class="form-control" formControlName="correo"
                  [(ngModel)]="textoCorreo" (keyup)="comprobarCorreo()">

                <ng-container *ngFor="let validation of validationMessages.correo">
                  <div *ngIf="empleadoForm.get('correo').hasError(validation.type) &&
								(empleadoForm.get('correo').dirty ||
								empleadoForm.get('correo').touched)">
                    <span style="color: red;">{{validation.message }}</span>
                  </div>

                </ng-container>
                <div *ngIf="correoInvalid" style="color: red;">
                  El correo ingresado ya existe
                </div>
              </div>
              <div class="form-group col-6">
                <strong>Contraseña</strong>

                <input id="signinPassword" type="password" maxlength="25" class="form-control" formControlName="contra">

                <ng-container *ngFor="let validation of validationMessages.contra">
                  <div *ngIf="empleadoForm.get('contra').hasError(validation.type) &&
								(empleadoForm.get('contra').dirty ||
								empleadoForm.get('contra').touched)">
                    <span style="color: red;">{{validation.message }}</span>
                  </div>
                </ng-container>

              </div>

              <div class="form-group col-6">
                <strong>Rol</strong>
                <select formControlName="rol" slot="end" class="form-control form-control-lg"
                  (change)="comprobarRol($event)">
                  <option value="" disabled selected hidden>Seleccione una opción</option>


                  <option *ngFor="let item of arrayRol" [value]="item.nombre_Rol"
                    [selected]="item.nombre_Rol == rolSelec">
                    {{item.nombre_Rol}}
                  </option>
                </select>


                <ng-container *ngFor="let validation of validationMessages.rol">
                  <div *ngIf="empleadoForm.get('rol').hasError(validation.type) &&
                    (empleadoForm.get('rol').dirty ||
                    empleadoForm.get('rol').touched)">
                    <span style="color: red;">{{validation.message }}</span>
                  </div>
                </ng-container>
              </div>
              <div class="form-group col-6">
                <strong>Estante</strong>
                <select formControlName="no_estante" slot="end" class="form-control form-control-lg"
                  (change)="comprobarEstante($event)">
                  <option value="" disabled selected hidden>Seleccione una opción</option>


                  <option *ngFor="let item of arrayEstantes" [value]="item.idEstante"
                    [selected]="item.idEstante == estanteSelec">
                    {{item.idEstante}}
                  </option>
                </select>


                <ng-container *ngFor="let validation of validationMessages.no_estante">
                  <div *ngIf="empleadoForm.get('no_estante').hasError(validation.type) &&
                    (empleadoForm.get('no_estante').dirty ||
                    empleadoForm.get('no_estante').touched)">
                    <span style="color: red;">{{validation.message }}</span>
                  </div>
                </ng-container>

              </div>
            </div><!--Form-->

          </form>
          <div class="form-group" style="padding-top: 12px;">
            <button id="signinSubmit" type="submit" class="btn btn-success btn-block" (click)="guardarProducto()"
              [disabled]=" correoInvalid || !empleadoForm.valid "><span style="color:black">Agregar
                Empleado</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
