.roundedInput{
  z-index: 1;
  color: #070606;
  height:70%;
 -webkit-border-radius: 10px;
  -moz-border-radius: 5px;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(225,225,225);
  margin-left: 2%;
  background-color: transparent;
  margin-right: 2%;
  margin-top: 10px;

 /* box-shadow */
 -webkit-box-shadow: 17px 11px 34px -10px rgba(0,0,0,0.7);
 -moz-box-shadow: 17px 11px 34px -10px rgba(0,0,0,0.7);
 box-shadow: 16px 8px 20px -20px rgba(0, 0, 0, 0.7);
 }

 .input input {
  background: transparent;
  color: black;
  border: none;
  outline: none;
  --padding-top: 7px;
  --padding-bottom: 7px;
  --padding-start: 10px !important;
  --padding-end: 10px;
  padding: 7px 10px 7px 10px;
  width: 100%;
}
.placeholderLbl {
  position: absolute;
  top: 11px;
  left: 1em;
  background-color: #fff;
  z-index: 2;
  color: #47525e;
  font-size: 0.9em;
  padding: 0 8px;
}
.boton_aplicar{
--background: #BA4E32;
}
.labelMsj{
color: #47525e;
font-size: 12px;
margin-left: 20px;
}
.selectClass{
width: 100%;
background-color: white;
color: black;
height: 100%;
border: none !important;
}
.div-Foto {
img {
  float: right;

  margin-right: 40px;
}
aside {
  margin-top: 6%;
  // margin-left: 29%;
}

width: 60%;
height: 50%;
// border: 1px solid black;
display: inline-block;
color: rgba(74, 74, 74, 1);
}
.divBtnFoto{
display: inline-block;
width: 60%;
height: 50%;
ion-button{
  margin-right: 40px;
  float: right;
  width: 200px;
}
}
