<ion-header style="text-align: center;">
  <ion-toolbar class="boton_aplicar">


    <ion-title style="color: white" *ngIf="!edita">Agregar producto</ion-title>
    <ion-title style="color: white" *ngIf="edita">Editar producto</ion-title>
    <ion-buttons slot="end">
      <ion-button class="boton_aplicar" style="color:white ;" (click)="cerrarSinData()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>
<input  class="ion-hide" #file type="file" id="file-input"
accept="image/png, image/jpeg"
(change)="changeFile($event)">
<ion-content>
  <ion-grid fixed>
    <div class="div-Foto" *ngIf="!imagenSeleccionada">
      <img width="200px" height="200px" src="{{item1}}" alt="" />

   </div>
    <div class="div-Foto" *ngIf="imagenSeleccionada">

      <img  [src]="item1" alt="" width="200px" height="200px" />
      <img   src='./assets/icon/Union9.png' (click)="quitarImagen()" style="margin: 0;cursor:pointer">
      </div>
      <div class="divBtnFoto">
        <ion-button class="boton_aplicar"  (click)="abrirFoto()">Subir foto</ion-button>

      </div>
    <form action="" [formGroup]="productoForm">
      <ion-row>
        <ion-col size="6">

          <ion-list>
            <ion-label class="placeholderLbl">Nombre</ion-label>
            <ion-item lines="none" class="roundedInput">
              <ion-input formControlName="nombre"
              maxlength="60"
              (keypress)="soloLetras($event,'numerosLetras')"
              >
              </ion-input>
            </ion-item>
          </ion-list>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validationMessages.nombre">
                <div *ngIf="productoForm.get('nombre').hasError(validation.type) &&
                (productoForm.get('nombre').dirty ||
                productoForm.get('nombre').touched)">
                {{validation.message }}
                </div>
            </ng-container>
        </div>
        </ion-col>
        <ion-col size="6">
          <ion-list>
            <ion-label class="placeholderLbl">Marca</ion-label>
            <ion-item lines="none" class="roundedInput" >
              <select formControlName="marca" slot="end" class="selectClass"
              (change)="comprobarMarca($event)"
              >
              <option value="" disabled selected hidden>Seleccione una opción</option>
              <option *ngFor="let item of arrayMarcas" [value]="item.id" [selected]="item.id == marcaSelec">
                {{item.v_nombre}}
              </option>
              </select>

            </ion-item>
          </ion-list>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validationMessages.marca">
                <div *ngIf="productoForm.get('marca').hasError(validation.type) &&
                (productoForm.get('marca').dirty ||
                productoForm.get('marca').touched)">
                {{validation.message }}
                </div>
            </ng-container>
        </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-list>
            <ion-label class="placeholderLbl">Precio</ion-label>
            <ion-item lines="none" class="roundedInput">
              <ion-input formControlName="precio"
              maxlength="10"
              style="text-align: right;"
               onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
              </ion-input>
            </ion-item>
          </ion-list>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validationMessages.precio">
                <div *ngIf="productoForm.get('precio').hasError(validation.type) &&
                (productoForm.get('precio').dirty ||
                productoForm.get('precio').touched)">
                {{validation.message }}
                </div>
            </ng-container>
        </div>
        </ion-col>
        <ion-col size="6">
          <ion-list>
            <ion-label class="placeholderLbl">Volumen</ion-label>
            <ion-item lines="none" class="roundedInput">
              <ion-input 
              formControlName="volumen"
              maxlength="10"
              style="text-align: right;"
               onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">
              </ion-input>
            </ion-item>
          </ion-list>
          <div>
            <label class="labelMsj">*Indique la cantidad en m <sup>3</sup></label>
          </div>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validationMessages.volumen">
                <div *ngIf="productoForm.get('volumen').hasError(validation.type) &&
                (productoForm.get('volumen').dirty ||
                productoForm.get('volumen').touched)">
                {{validation.message }}
                </div>
            </ng-container>
        </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-list>
            <ion-label class="placeholderLbl">Descripción</ion-label>
            <ion-item lines="none" class="roundedInput">
              <ion-input formControlName="descripcion"
              (keypress)="soloLetras($event,'numerosLetras')"
             >
              </ion-input>
            </ion-item>
          </ion-list>

          <div class="validation-error">
            <ng-container *ngFor="let validation of validationMessages.descripcion">
                <div *ngIf="productoForm.get('descripcion').hasError(validation.type) &&
                (productoForm.get('descripcion').dirty ||
                productoForm.get('descripcion').touched)">
                {{validation.message }}
                </div>
            </ng-container>
        </div>
        </ion-col>
        <ion-col size="6">
          <ion-list>
            <ion-label class="placeholderLbl">Categoría</ion-label>
            <ion-item lines="none" class="roundedInput" >
              <select formControlName="categoria" slot="end" class="selectClass"
              (change)="comprobarCategoria($event)"
              >
              <option value="" disabled selected hidden>Seleccione una opción</option>
              <option *ngFor="let item of arrayCategorias" [value]="item.id" [selected]="item.id == categoriaSelec">
                {{item.v_nombre}}
              </option>
              </select>

            </ion-item>
          </ion-list>
          <div class="validation-error">
            <ng-container *ngFor="let validation of validationMessages.categoria">
                <div *ngIf="productoForm.get('categoria').hasError(validation.type) &&
                (productoForm.get('categoria').dirty ||
                productoForm.get('categoria').touched)">
                {{validation.message }}
                </div>
            </ng-container>
        </div>
        </ion-col>
      </ion-row>

    </form>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <ion-button *ngIf="!edita" [disabled]="!productoForm.valid || !imagenSeleccionada" class="boton_aplicar" (click)="agregarActualizarProducto()">
          Guardar
        </ion-button>
        <ion-button *ngIf="edita" [disabled]="!productoForm.valid || !imagenSeleccionada" class="boton_aplicar" (click)="agregarActualizarProducto()">
          Actualizar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
