.buscador {
    border: 2px solid black;
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 10px;

  }

  .card {
    //padding: 0px 10px;
    border-radius: 20px;
  }

  .buscador ion-input {
    margin-left: 10px;
  }

  .classTresPuntos {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .styleCabecera {
    // display:flex;
    // justify-content: left;
    // padding-left: 20%;
    // margin-right: 80px;
    color: #CDCAC9;
  }

  .cuerpo {
    vertical-align: middle;

    // width: 95%;
    // margin-left: 2.5%;
    // margin-right: 2.5%;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
  }

  .cuerpo ion-col {
    //border: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 15px;

  }

  .cabezera {
    //border: 1px solid red;
    background-color: #373737;
    color: #CDCAC9;
    height: 60px;
    // width: 95%;
    // border-radius: 7px;
    border-bottom: 3px solid #CDCAC9;
    padding: 10px 15px 10px 15px;
    // margin-left: 2.5%;
    // margin-right: 2.5%;
  }

  .cabezera ion-col {
    //border: 1px solid blue;

    font-size: 16px;
    color: white;
    padding: 10px;
  }

  .btnaccion {
    cursor: pointer;
    height: 30px;
    width: 30px;

  }

  .acciones {
    text-align: center;
  }

  .columnas {
    text-align: center;
  }
