<ion-header style="text-align: center;">
  <ion-toolbar class="boton_aplicar">


    <ion-title style="color: white">Filtro productos</ion-title>

    <ion-buttons slot="end">
      <ion-button class="boton_aplicar" style="color:white ;" (click)="cerrarSinData()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-grid fixed>

      <ion-row>
        <ion-col size="6">

          <ion-list>
            <ion-label class="placeholderLbl">Empleado</ion-label>
            <ion-item lines="none" class="roundedInput" >
              <select  [(ngModel)]="empleado_id" slot="end" class="selectClass"
              (change)="comprobarEmpleado($event)"
              >
              <option value="0"  selected>Seleccione una opción</option>
              <option *ngFor="let item of arrayEmpleados" [value]="item.id">
                {{item.v_nombre}}
              </option>
              </select>

            </ion-item>
          </ion-list>

        </ion-col>
        <ion-col size="6">
          <ion-list>
            <ion-label class="placeholderLbl">Marca</ion-label>
            <ion-item lines="none" class="roundedInput" >
              <select  [(ngModel)]="marca_id" slot="end" class="selectClass"
              (change)="comprobarMarca($event)"
              >
              <option value="0"  selected>Seleccione una opción</option>
              <option *ngFor="let item of arrayMarcas" [value]="item.id" >
                {{item.v_nombre}}
              </option>
              </select>

            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-list>
            <ion-label class="placeholderLbl">Fecha inicio</ion-label>
            <ion-item lines="none" class="roundedInput">
              <input class="dateClass" (change)='validarFechaInicio()' type="date"  slot="end" [max]="maxDate"
              [(ngModel)]="fecha_inicio">
            </ion-item>
          </ion-list>

        </ion-col>
        <ion-col size="6">
          <ion-list>
            <ion-label class="placeholderLbl">Fecha fin</ion-label>
            <ion-item lines="none" class="roundedInput">
              <input class="dateClass" (change)='validarFechaFin()' type="date" slot="end" [min]="minDate"
              [(ngModel)]="fecha_fin">
            </ion-item>
          </ion-list>


        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-list>
            <ion-label class="placeholderLbl">Categoría</ion-label>
            <ion-item lines="none" class="roundedInput" >
              <select  [(ngModel)]="categoria_id" slot="end" class="selectClass"
              (change)="comprobarCategoria($event)"
              >
              <option value="0"  selected>Seleccione una opción</option>
              <option *ngFor="let item of arrayCategorias" [value]="item.id" >
                {{item.v_nombre}}
              </option>
              </select>

            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>


    <ion-row>
      <ion-col size="12" style="text-align: center;">

        <ion-button  class="boton_aplicar" (click)="aplicarFiltros()">
          Aplicar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
