<ng-template [ngIf]="valorEmitido" [ngIfElse]="nothing">
  <div id="sidebar" class="sidebar" style="display: flex; position: fixed; z-index: 1000; width: 100%; height: 100%; box-shadow: 0 3px 3px rgb(0,0,0,0.2);">
    <div style="position: relative; display: flex; flex-direction: column ; width: 300px; left: 0;  background-color: white; padding: 25px;height: '100%';
    ">
      <div>
        <p style="font-size: 22; font-weight: bold">Bienvenido</p>
        <hr style="width: 100%; background-color: #F6F6F6">

        <p style="font-size: 20px; font-weight: bold">Categorias</p>
        <p class="set-hover" *ngFor="let item of Options" style="cursor: pointer; font-size: 18px; cursor: pointer; "
          (click)="onClickOption(item.value)">{{ item.label }}
        </p>
      </div>

      <ion-icon name="close" size="large" style="position: absolute; right: 10px; cursor: pointer; top: 2px"
        (click)="closeSidebar()"></ion-icon>
    </div>

    <!-- background-color: #e4e4e4; opacity: .7 -->
    <div style="width: 80%; ;" (click)="clickContainer()">

    </div>
  </div>


</ng-template>


<ng-template #nothing>
  <p>{{ valorEmitido | async }}</p>
</ng-template>
