<div class="container-md" style="margin-top: 100px;">
  <ng-template [ngIf]="!viewPago" [ngIfElse]="infoPago" class="row">
    <div class="col-8">
      <div class="container-shadow" style="display: flex; align-items: center; margin-bottom: 60px; height: 250px; "
        *ngFor="let LC of LineasCarrito">
        <div style="padding: 20px; ">
          <img src="http://localhost:3001{{LC.getProducto.getImageURL}}" width="200" />
        </div>

        <div style="margin-left: 100px;">
          <p>{{LC.producto.getNombre}}</p>

          <div>
            <p>Proveedor: {{ LC.getProveedor.getNombre }}</p>
          </div>
          <p>{{LC.getProducto.getPrecio}} c/u</p>
        </div>
      </div>

      <div class="container-shadow"
        style=" display: flex; align-items: center; padding: 30px ;margin: 30px 0; height: 100px;">
        <p class="hover-underline" style="font-size: 20px; margin: 0; color: #18A0FB; cursor: pointer;"
          (click)="ingresarDatosPago()">Ingresar datos de pago</p>
      </div>

      <div style="margin: 30px 0; text-align: right;">
        <button type="button" class="btn btn-primary" (click)="confirmarVenta()">
          Confirmar compra
        </button>
      </div>
    </div>

    <div class="col-3" style="position: fixed; top: 200px; right: 100px ; margin-left: 80px;">
      <p style="font-size: 20px;">Resumen de compra</p>
      <hr style="background-color: #373737;" />
      <p style="font-size: 20px;">Total <span>({{ cantidadProductos }})</span> <span style="margin-left: 25px;"> $
          {{totalCarrito}}</span> </p>
      <hr style="background-color: #373737;" />
    </div>
  </ng-template>

  <ng-template #infoPago class="container-shadow">
    <div class="col-8 container-shadow">
      <p style="font-size: 42px; font-weight: bold; margin-bottom: 30px; padding: 20px;">Ingresa tus datos de pago</p>

      <form [formGroup]="formGroup" style="width: 60%; padding: 40px;">
        <div class="form-floating mb-3">
          <input formControlName="creditCard" type="text" class="form-control" id="floatingInput" placeholder="Numero de tarjeta" maxLength="16"  (keypress)="validarInput($event, 'number')">
          <label for="floatingInput" >Numero de tarjeta</label>
        </div>

        <div class="form-floating mb-3">
          <input formControlName="nombreApellido" class="form-control" id="floatingInput2" placeholder="Nombre y apellido">
          <label for="floatingInput2" (keypress)="validarInput($event)" maxLength="50">Nombre y apellido</label>
        </div>

        <div style="display: flex; justify-content: space-between;">
          <div class="form-floating mb-3">
            <input formControlName="fechaExp" class="form-control" id="floatingInput3" placeholder="Fecha de expiracion">
            <label for="floatingInput3" (keypress)="validarInput($event, 'number')" maxLength="5">Fecha de expiracion</label>
          </div>

          <div class="form-floating mb-3">
            <input formControlName="cvv" class="form-control" id="floatingInput4" placeholder="Cvv">
            <label for="floatingInput4" (keypress)="validarInput($event, 'number')" maxLength="3">Cvv</label>
          </div>
        </div>
      </form>

      <div style="padding: 30px; text-align: right;">
        <button type="button" class="btn btn-primary" (click) ="guardarDatosDePago()">
          Guardar informacion de pago
        </button>
      </div>
    </div>

    <div class="col-3" style="position: fixed; top: 200px; right: 100px ; margin-left: 80px;">
      <p style="font-size: 20px;">Resumen de compra</p>
      <hr style="background-color: #373737;" />
      <p style="font-size: 20px;">Total <span>({{ cantidadProductos }})</span> <span style="margin-left: 25px;"> $
          {{totalCarrito}}</span> </p>
      <hr style="background-color: #373737;" />
    </div>

  </ng-template>
</div>
