<ng-template [ngIf]="!isPayment" [ngIfElse]="paymentNavigation">
  <div class="dsc-navigation" >
    <div style="display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 90%;
  ">

      <div style="display: flex; width: 100%; justify-content: flex-end;align-items: center; margin-top: 20px;">
        <div style="display: flex; width: 15%; justify-content: space-between; align-items: center;">
          <ion-label style="font-size: 22px; cursor: pointer; margin-right: 20px;" (click)="goToHome()"><img src="../../../../assets/logoVT.png"/></ion-label>
        </div>
        <div style="position: relative; left: 40px; width: 60%; justify-content: space-between;  justify-content: center; ">
          <app-buscador></app-buscador>
        </div>

        <div style="display: flex; width: 25%; justify-content: flex-end;">
          <div style="margin-right: 20px;">
            <ng-template [ngIf]="!existUser" [ngIfElse]="logout">
              <button id="click-trigger" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false" type="button"
                style="font-size: 15px; margin-left: 10px;" [routerLink]="['/login']">
                Identificate
              </button>
            </ng-template>

            <ng-template #logout>
              <button id="click-trigger" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false" type="button"
                style="font-size: 15px; margin-left: 10px;" [routerLink]="['/']" (click)="logOut()">
                Cerrar sesion
              </button>
            </ng-template>

            <!-- <ul class="dropdown-menu dropdown-menu-end">
              <!-- <li *ngFor="let item of Categories"><a class="dropdown-item" href="#" (click)="inputOnChange(item)">{{ item.label }}</a></li>
              <li><a class="dropdown-item" href="#" (click)="inputOnChange(item)">hola</a></li>
            </ul> -->
          </div>



          <div style="position: relative; cursor: pointer;" [routerLink]="['/carrito']">
            <span
              style="position: absolute; left: 25px; top: -5; font-size: 20px; font-weight: bold; color: #FF9900; background-color: #F6F6F6; height: 25px;">{{
              contador }}</span>
            <img src="../../../assets/shopping-bag.png" height="35" />
          </div>
        </div>
      </div>

      <div style="display: flex; width: 100%; justify-content: flex-end; align-items: center; margin: 10px 0 ;">
        <div class="cate" style="display: flex; align-items: center; width: 10%; cursor: pointer;"
          (click)="onClickOption('todo')">
          <ion-icon name="menu" size="large" ></ion-icon>
          <p style=" font-size: 18px; ; margin: 0;">Todo</p>
        </div>

      <div style="display: flex; align-items: center; width: 80%; justify-content: space-around;">
        <p *ngFor="let categorie of Categories" class="cate"

          style="margin: 0; font-size: 18px; cursor: pointer; "
          (click)="goToCategorie(categorie.idCategoria, categorie.label)">{{ categorie.label }}</p>
      </div>
      <!-- (click)="goToCategorie(categorie.idCategoria, categorie.label) -->

      </div>

    </div>
  </div>
</ng-template>


<ng-template #paymentNavigation>
  <div class="navigation-payment">
    <div style="display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        width: 90%;
      ">

      <div style="display: flex; width: 100%; justify-content: flex-start;align-items: center;">
        <div style="display: flex; width: 15%; justify-content: space-between; align-items: center;">
          <ion-label style="font-size: 22px; cursor: pointer; margin-right: 20px;" [routerLink]="['/']"><img
              src="../../../../assets/logoVT.png" /></ion-label>
        </div>
      </div>
    </div>
  </div>

</ng-template>
