.dsc-navigation {
  display: flex;
  justify-content: center;
  height: 110px;
  position: fixed;
  width: 100%;
  z-index: 200;
  left: 0;
  top: 0;
  box-shadow: 0 3px 3px rgb(0, 0, 0, 0.2);
  background: #f6f6f6;
  align-items: center;

}.navigation-payment {
  height: 80px;
}



.inputsearch:focus-visible {
  border: white;
  outline: none
}

.inputsearch:active {
  border: none;
}

.btn:hover {
  background-color: #e4e4e4;
}

.cate:hover {
  transform: scale(1.05);
  transition: all 300ms ease;
}

/*
input::placeholder{
  padding-left: 10px
} */
