.div-Foto {
    img {
      float: right;
    
     
    }
    aside {
      margin-top: 6%;
      // margin-left: 29%;
    }
    
    width: 60%;
    height: 50%;
    // border: 1px solid black;
    display: inline-block;
    color: rgba(74, 74, 74, 1);
    margin-left: 18px;
    }
    .boton_aplicar{
        --background: #BA4E32;
        }
        .roundedInput{
            z-index: 1;
            color: #070606;
            height:70%;
           -webkit-border-radius: 10px;
            -moz-border-radius: 5px;
            border-radius: 12px;
            border-width: 2px;
            border-style: solid;
            border-color: rgb(225,225,225);
            margin-left: 2%;
            background-color: transparent;
            margin-right: 2%;
            margin-top: 10px;
          
           /* box-shadow */
           -webkit-box-shadow: 17px 11px 34px -10px rgba(0,0,0,0.7);
           -moz-box-shadow: 17px 11px 34px -10px rgba(0,0,0,0.7);
           box-shadow: 16px 8px 20px -20px rgba(0, 0, 0, 0.7);
           }
           .placeholderLbl {
            position: absolute;
            top: 11px;
            left: 1em;
            background-color: #fff;
            z-index: 2;
            color: #47525e;
            font-size: 0.9em;
            padding: 0 8px;
          }
          .selectClass{
            width: 100%;
            background-color: white;
            color: black;
            height: 100%;
            border: none !important;
            }
            
.classTresPuntos {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card {
    //padding: 0px 10px;
    border-radius: 20px;
  }
  .styleCabecera {
    // display:flex;
    // justify-content: left;
    // padding-left: 20%;
    // margin-right: 80px;
  }
  
  .cuerpo {
    vertical-align: middle;
  
    // width: 95%;
    // margin-left: 2.5%;
    // margin-right: 2.5%;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
  }
  
  .cuerpo ion-col {
    //border: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 15px;
  
  }
  
  .cabezera {
    //border: 1px solid red;
    background-color: #D56E53;
    height: 60px;
    // width: 95%;
    // border-radius: 7px;
    border-bottom: 3px solid #CDCAC9;
    padding: 10px 15px 10px 15px;
    // margin-left: 2.5%;
    // margin-right: 2.5%;
  }
  
  .cabezera ion-col {
    //border: 1px solid blue;
  
    font-size: 16px;
    color: white;
    padding: 10px;
  }
  
  .btnaccion {
    cursor: pointer;
    height: 30px;
    width: 30px;
  
  }
  
  .acciones {
    text-align: center;
  }
  
  .columnas {
    text-align: center;
  }