<ion-header style="text-align: center;">
  <ion-toolbar class="boton_aplicar">


    <ion-title style="color: white">Aumentar Existencia</ion-title>
    <ion-buttons slot="end">
      <ion-button class="boton_aplicar" style="color:white ;" (click)="cerrarSinData()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
<ion-col size="3">
  <div class="div-Foto" *ngIf="!imagenSeleccionada">
    <img width="200px" height="200px" src="{{item1}}" alt="" />

 </div>
  <div class="div-Foto" *ngIf="imagenSeleccionada">

    <img  [src]="item1" alt="" width="200px" height="200px" />
    
    </div>
</ion-col>
<ion-col size="6">
<ion-row>
<ion-col size="12">
  <ion-list>
    <ion-label class="placeholderLbl">Provedor</ion-label>
    <ion-item lines="none" class="roundedInput" >
      <select  slot="end" class="selectClass"
      [(ngModel)]="supplier_id"
      (change)="comprobarSupplier($event)"
      >
      <option value="0" disabled selected hidden>Seleccione una opción</option>
      <option *ngFor="let item of arraySuppliers" [value]="item.id">
        {{item.v_nombre}} {{item.v_apellido_pat}} {{item.v_apellido_mat}}
      </option>
      </select>

    </ion-item>
  </ion-list>
</ion-col>

</ion-row>
<ion-row>
  <ion-col size="12">
    <ion-list>
      <ion-label class="placeholderLbl">Cantidad</ion-label>
      <ion-item lines="none" class="roundedInput">
        <ion-input 
        maxlength="10"
        style="text-align: right;"
         onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
         [(ngModel)]="quantity">
        </ion-input>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>




</ion-col>
<ion-col size="3">
  <ion-row>
    <ion-col size="12" style="margin-top: 45px;">
   
      
    
      <ion-button [disabled]="supplier_id==0 || quantity==0" (click)="saveBatch()"  class="boton_aplicar" style="margin-top:20px;width:150px;">
        Guardar
      </ion-button>
  
  
  
  </ion-col>
  </ion-row>
</ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card">

          <ion-card-title>
            <ion-row class="cabezera">
              <ion-col size="3">
                <ion-label class="styleCabecera">Provedor</ion-label>
              </ion-col>



              <ion-col size="1.10">
                <ion-label class="styleCabecera">Entrada</ion-label>
              </ion-col>
              <ion-col size="1.25">
                <ion-label class="styleCabecera">Disponible</ion-label>
              </ion-col>
              <ion-col size="1.55">
                <ion-label class="styleCabecera">Comprometido</ion-label>
              </ion-col>
              <ion-col size="1.10">
                <ion-label class="styleCabecera">Salida</ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label class="styleCabecera">Fecha registro</ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label class="styleCabecera">Empleado</ion-label>
              </ion-col>
             
            </ion-row>
          </ion-card-title>


          <ion-card-content style=" padding:0px 0px 13px 0px">
            <ion-grid>
             <ion-content style=" height:40vh;">
                <ion-row  class="cuerpo" *ngFor="let item of arrayBatches">
                  <ion-col size="3">
                    <ion-label style="color:black">
                      {{item.v_nombreProvedor}}

                    </ion-label>
                  </ion-col>
                 
                  <ion-col size="1.25" style="text-align: right;">
                    <ion-label style="color:black">
                       {{item.entrada_can}}

                    </ion-label>
                  </ion-col>
                  <ion-col size="1.25" style="text-align: right;">
                    <ion-label style="color:black">
                       {{item.disponible_cant}}

                    </ion-label>
                  </ion-col>
                  <ion-col size="1.25" style="text-align: right;">
                    <ion-label style="color:black">
                       {{item.comprometido_can}}

                    </ion-label>
                  </ion-col>
                  <ion-col size="1.25" style="text-align: right;">
                    <ion-label style="color:black">
                       {{item.salida_can}}

                    </ion-label>
                  </ion-col>
                  <ion-col size="2">
                    <ion-label style="color:black">
                      {{formatearFecha(item.fecha_registro)}}
                    </ion-label>
                  </ion-col>
                  <ion-col size="2">
                    <ion-label style="color:black">
                      Teporoncio
                    </ion-label>
                  </ion-col>
                 
                </ion-row>
               
              </ion-content>

            </ion-grid>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
   
    
       
     
   
  </ion-grid>
</ion-content>
