/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.inner-scroll {
  overflow: overlay !important;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

* {
   font-family: 'Nova';
   color: #373737;
}

.set-hover:hover {
  transform: scale(1.05);
  transition: all 300ms ease;
}

.container-shadow {
  box-shadow: 0px 0px 45px rgb(0 0 0 / 10%);
}


.img{
  height: 200px;
  object-fit: scale-down;
  // height: 250px;
  // background-size: 100% 100%;
  // background-repeat:no-repeat;
  // background-size: cover;
  }

.img img{
  width: 100%;
  }

.modal-agrega-empleados {
  --backdrop-opacity: 0.8 !important;
  --height: 80% !important;
  --width: 80%;
  .modal-wrapper {
      position: absolute;
  }
}

.modal-agrega-productos {
    --backdrop-opacity: 0.8 !important;
    --height: 80% !important;
    --width: 80%;
    .modal-wrapper {
        position: absolute;
    }
  }
  .modal-existencia {
    --backdrop-opacity: 0.8 !important;
    --height: 95% !important;
    --width: 95%;
    .modal-wrapper {
        position: absolute;
    }
  }
  .validation-error {
    font-size: 15px;
    color: red;
    float: left;
    margin-left: 1%;
    // font-weight: bold;
    position: relative;
  }
  .modal-filtro-products{
    --backdrop-opacity: 0.8 !important;
    --height: 50% !important;
    --width: 80%;
    .modal-wrapper {
        position: absolute;
  }
}

  .my-custom-class{
    --width: 40%!important;
  }

  .hover-link {
    text-decoration: underline;
  }
