@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/Nunito/Nunito-italic-300.ttf) format('truetype'), url(../fonts/Nunito/Nunito-italic-300.woff) format('woff'), url(../fonts/Nunito/Nunito-italic-300.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Nunito/Nunito-italic-400.ttf) format('truetype'), url(../fonts/Nunito/Nunito-italic-400.woff) format('woff'), url(../fonts/Nunito/Nunito-italic-400.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Nunito/Nunito-italic-700.ttf) format('truetype'), url(../fonts/Nunito/Nunito-italic-700.woff) format('woff'), url(../fonts/Nunito/Nunito-italic-700.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/Nunito/Nunito-italic-900.ttf) format('truetype'), url(../fonts/Nunito/Nunito-italic-900.woff) format('woff'), url(../fonts/Nunito/Nunito-italic-900.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Nunito/Nunito-normal-300.ttf) format('truetype'), url(../fonts/Nunito/Nunito-normal-300.woff) format('woff'), url(../fonts/Nunito/Nunito-normal-300.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nunito/Nunito-normal-400.eot);
  src: local('Nunito'), url(../fonts/Nunito/Nunito-normal-400.ttf) format('truetype'), url(../fonts/Nunito/Nunito-normal-400.woff) format('woff'), url(../fonts/Nunito/Nunito-normal-400.eot?#iefix) format('embedded-opentype'), url(../fonts/Nunito/Nunito-normal-400.woff2) format('woff2'), url(../fonts/Nunito/Nunito-normal-400.svg#Nunito) format('svg');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Nunito/Nunito-normal-700.ttf) format('truetype'), url(../fonts/Nunito/Nunito-normal-700.woff) format('woff'), url(../fonts/Nunito/Nunito-normal-700.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Nunito/Nunito-normal-900.ttf) format('truetype'), url(../fonts/Nunito/Nunito-normal-900.woff) format('woff'), url(../fonts/Nunito/Nunito-normal-900.woff2) format('woff2');
}

@font-face {
  font-family: 'Nova';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nova/Proxima-Nova-Font.otf);

}
