<div style="display: flex; width: 100%; position: absolute; bottom:  0; left: 0; height: 40px; justify-content: center; background-color:#66e68a; align-items: center;">
  <p>Derechos reservados 2022</p>
</div>
