<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
    <div class="container" style="padding-bottom: 12px; display: flex;justify-content: center;">
		<a [routerLink]="['']"><img src="../../../../assets/logoVT.png" width="400"></a></div>
    <div class="container">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<form action="" [formGroup]="usuarioForm">
            <div class="row">
						<div class="form-group">
							<h2>Crear Cuenta</h2>
						</div>
						<div class="form-group col-6">
							<strong>Nombre</strong>
							<input  type="text" maxlength="50" class="form-control"
							formControlName="nombre" (keypress)="soloLetras($event,'')">
              <ng-container *ngFor="let validation of validationMessages.nombre">
								<div *ngIf="usuarioForm.get('nombre').hasError(validation.type) &&
								(usuarioForm.get('nombre').dirty ||
								usuarioForm.get('nombre').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>
						</div>
						<div class="form-group col-6">
							<strong>Apellido Paterno</strong>

							<input  type="text" maxlength="25" class="form-control"
							formControlName="ape_paterno" (keypress)="soloLetras($event,'')">

              <ng-container *ngFor="let validation of validationMessages.ape_paterno">
								<div *ngIf="usuarioForm.get('ape_paterno').hasError(validation.type) &&
								(usuarioForm.get('ape_paterno').dirty ||
								usuarioForm.get('ape_paterno').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>

						</div>
            <div class="form-group col-6">
							<strong>Apellido Materno</strong>

							<input  type="text" maxlength="25" class="form-control"
							formControlName="ape_materno" (keypress)="soloLetras($event,'')">

              <ng-container *ngFor="let validation of validationMessages.ape_materno">
								<div *ngIf="usuarioForm.get('ape_materno').hasError(validation.type) &&
								(usuarioForm.get('ape_materno').dirty ||
								usuarioForm.get('ape_materno').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>

						</div>
            <div class="form-group col-6">
							<strong>Telefono</strong>

							<input  type="text" maxlength="10" class="form-control"
							formControlName="telefono" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">

              <ng-container *ngFor="let validation of validationMessages.telefono">
								<div *ngIf="usuarioForm.get('telefono').hasError(validation.type) &&
								(usuarioForm.get('telefono').dirty ||
								usuarioForm.get('telefono').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>

						</div>
            <div class="form-group col-6">
							<strong>Codigo Postal</strong>

							<input  type="text" maxlength="5" class="form-control"
							formControlName="cp" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">

              <ng-container *ngFor="let validation of validationMessages.cp">
								<div *ngIf="usuarioForm.get('cp').hasError(validation.type) &&
								(usuarioForm.get('cp').dirty ||
								usuarioForm.get('cp').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>

						</div>
            <div class="form-group col-6">
							<strong>Calle</strong>

							<input  type="text" maxlength="25" class="form-control"
							formControlName="calle" (keypress)="soloLetras($event,'')">

              <ng-container *ngFor="let validation of validationMessages.calle">
								<div *ngIf="usuarioForm.get('calle').hasError(validation.type) &&
								(usuarioForm.get('calle').dirty ||
								usuarioForm.get('calle').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>

						</div>
            <div class="form-group col-6">
							<strong>Ciudad</strong>

							<input  type="text" maxlength="25" class="form-control"
							formControlName="ciudad" (keypress)="soloLetras($event,'')">

              <ng-container *ngFor="let validation of validationMessages.ciudad">
								<div *ngIf="usuarioForm.get('ciudad').hasError(validation.type) &&
								(usuarioForm.get('ciudad').dirty ||
								usuarioForm.get('ciudad').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>
						</div>
            <div class="form-group col-6">
							<strong>No Exterior</strong>

							<input  type="text" maxlength="25" class="form-control"
							formControlName="no_exterior" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;">

              <ng-container *ngFor="let validation of validationMessages.no_exterior">
								<div *ngIf="usuarioForm.get('no_exterior').hasError(validation.type) &&
								(usuarioForm.get('no_exterior').dirty ||
								usuarioForm.get('no_exterior').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>

						</div>
            <div class="form-group col-6">
							<strong>Correo</strong>

							<input  type="email" maxlength="25" class="form-control"
							formControlName="correo" [(ngModel)]="textoCorreo" (keyup)="comprobarCorreo()">

              <ng-container *ngFor="let validation of validationMessages.correo">
								<div *ngIf="usuarioForm.get('correo').hasError(validation.type) &&
								(usuarioForm.get('correo').dirty ||
								usuarioForm.get('correo').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>

							</ng-container>
							<div *ngIf="correoInvalid" style="color: red;">
								El correo ingresado ya existe
							  </div>
						</div>
            <div class="form-group col-6">
							<strong>Contraseña</strong>

							<input id="signinPassword" type="password" maxlength="25" class="form-control"
							formControlName="contra">

              <ng-container *ngFor="let validation of validationMessages.contra">
								<div *ngIf="usuarioForm.get('contra').hasError(validation.type) &&
								(usuarioForm.get('contra').dirty ||
								usuarioForm.get('contra').touched)">
								<span style="color: red;">{{validation.message }}</span>
								</div>
							</ng-container>

						</div>
          </div><!--Form-->

					</form>
					<div class="form-group" style="padding-top: 12px;">
						<button id="signinSubmit" type="submit" class="btn btn-warning btn-block" (click)="signup()" [disabled]=" correoInvalid || !usuarioForm.valid "><span style="color:black">Crear Cuenta</span></button>
					</div>
		<p class="form-group">Al continuar, aceptas las <span style="color:dodgerblue">Condiciones de uso</span> y el <span style="color:dodgerblue">Aviso de privacidad</span> de VendeTodo.</p>

		<p class="form-group">¿Ya tienes una cuenta? <a [routerLink]="['/login']">Iniciar sesión</a></p>
				</div>
			</div>


		</div>
	</div>
