.side-menu {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 200;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
  background-color: #E4E4E4;
  box-shadow: 0 3px 3px rgb(0,0,0,0.2);
}
