<div class="side-menu">
  <div style="width: 100%; position: absolute; top: 0;">
    <div style="background-color: #373737; padding: 15px; display: flex; align-items: center; justify-content: space-between;">
      <p style="color: #F6F6F6; font-size: 26px; margin: 0;">Vende Todo </p>
      <ion-icon class="set-hover"  size="large" style="cursor: pointer; margin-left: 5px; color: #F6F6F6" name="menu-outline"></ion-icon>
    </div>

    <div style="padding: 25px;">
      <div>
        <p style="margin: 0; font-size: 16px; color: #373737">Bienvenido,</p>
        <p style="font-size: 22px; font-weight: bold;">Jesus</p>
      </div>

      <div style="position: relative;">
        <p class="set-hover" *ngFor="let item of Options" style="display:flex; font-size: 22px; font-weight: bold; cursor:pointer"><ion-icon size="large" name="{{item.icon}}"></ion-icon><span style="margin-left: 5px">{{ item.label }}</span></p>

        <p class="set-hover" style="position:fixed; display:flex; bottom: 0; font-size: 22px; font-weight: bold; cursor:pointer"><ion-icon  size="large" name="log-out-outline"></ion-icon><span style="margin-left: 5px">Cerrar session</span></p>
      </div>

    </div>


  </div>
</div>
