.slider-frame {
  width: 1000px;
  height: 700px;
  overflow: hidden;

}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 500%;

  animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
width: 100%;
}

@keyframes slide {
0% {margin-left: 0;}
15% {margin-left: 0;}

20% {margin-left: -100%;}
35% {margin-left: -100%;}

40% {margin-left: -200%;}
55% {margin-left: -200%;}

60% {margin-left: -300%;}
75% {margin-left: -300%;}

80% {margin-left: -400%;}
100% {margin-left: -400%;}
}
