<!-- <div key="{{id}}" style="display: flex;text-align:center; align-items: center; justify-content: center; margin-bottom: 20px;">
  <ion-icon name="chevron-back-outline" size="large" style="cursor: pointer; margin-right: 20px;     position: absolute;
  height: 40px;
  width: 40px;
  left: 0;" (click)="onClickPrev()"></ion-icon>

  <div id='containerImages' class='hide-scroll' style=" display: 'flex'; overflow-x: auto; scroll-behavior: smooth" >
    <img key="index" class='hide-scroll' src="{{img.src}}" *ngFor="let img of images"/>
  </div>

  <ion-icon name="chevron-forward-outline" size="large" style="cursor: pointer; margin-left: 20px; width: 30px;     position: absolute;
  height: 40px;
  width: 40px;
  right: 0;" (click)="onClickNext()"></ion-icon>
</div> -->

<div class="slider-frame">
  <ul>
    <li *ngFor="let img of images"><img src="{{img.src}}" ></li>
  </ul>
</div>
