<div style="display: flex">
    <p style="color: black; cursor: pointer;"
      (click)="goToHome()"
      onMouseover="this.style='text-decoration:underline';"
      onMouseout="this.style='text-decoration:none'"
    >
      {{homeNav}}
    </p>
    <b style="color: black; margin-right: 10px; margin-left: 10px;"> > </b>
    <div  style="display: flex" *ngIf="currentProduct; else noNavCat">
      <p style="color: black; cursor: pointer;"
         (click)="goToCategorie(idCat, categorieNav)"
         onMouseover="this.style='text-decoration:underline; cursor: pointer';"
         onMouseout="this.style='text-decoration:none'"
        >
          {{categorieNav}}
        </p>
      <b style="color: black; margin-right: 10px; margin-left: 10px;"> > </b>
        <p style="color: #FF9900; cursor: pointer;"> {{currentProduct}} </p>
    </div>
    <ng-template #noNavCat>
      <p style="color: #FF9900; "> {{categorieNav}} </p>
    </ng-template>
</div>
