<!-- <div style="overflow-y: auto;"> -->

<ion-content class="header" id="container-web">
  <app-navigation></app-navigation>
  <app-sidebar></app-sidebar>
  <div >
    <img src="../../../../assets/arrow-up.png" height="80" style="position: fixed; right: 10px; bottom: 10px; cursor: pointer;" (click)="goToUp()"/>
  </div>

  <div   class="dsc-skeleton-content"  [ngStyle]="{'min-height' : getMinHeight()}" >
    <router-outlet></router-outlet>
  </div>

  <!-- <app-footer></app-footer> -->
</ion-content>
<!-- </div> -->

