<!-- <div style="overflow-y: auto;"> -->

  <ion-content class="header">
    <!-- <app-navigation-dashboard></app-navigation-dashboard> -->

    <div class="dsc-skeleton-content"  [ngStyle]="{'min-height' : getMinHeight()}" >
      <router-outlet></router-outlet>
    </div>

    <!-- <app-footer></app-footer> -->
  </ion-content>
  <!-- </div> -->