<ion-content class="header">
  <div style="display: flex;">
    <div style="width: 20%;">
      <app-side-menu></app-side-menu>
    </div>
    <div class="dsc-skeleton-content" style="width: 80%; background-color: #F6F6F6;" [ngStyle]="{'min-height' : getMinHeight()}">
      <router-outlet></router-outlet>
    </div>
  </div>
</ion-content>
