<!-- <div style="position: relative; display: flex; width: 70%; justify-content: space-between;  justify-content: center;"> -->
<div style="display: flex; border: 1px solid #d4cfcf; border-radius: 5px;">
  <input class="inputsearch noHoover" (keyup.enter)="buscarProducto()" type="text" placeholder="Busca tus productos"
    [(ngModel)]='searchProduct'
    style=" background-color: white; height: 50px; border: none; border-right: 1px solid #dcdbdb; border-radius: 5px 0px 0px 5px; padding: 10px; width: 79%; padding-left: 15px;" />

  <!-- <select slot="end" class="noHoover" style="background: white; width: 21%; border-radius: 0px 5px 5px 0px; font-size: 14px; border: none; padding-left: 10px;"
    (change)="inputOnChange($event)">
    <option *ngFor="let item of Categories" [value]="item.value"><p>{{ item.label }}</p></option>
  </select> -->

  <button
    class="btn btn-outline-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    style="border: none; width: 21%; display: flex; justify-content: space-between; align-items: center; font-size: 15px;">
    {{selected.label}}
  </button>
  <ul class="dropdown-menu dropdown-menu-end" >
    <li *ngFor="let item of Categories"><a class="dropdown-item" href="#" (click)="inputOnChange(item)">{{ item.label }}</a></li>
  </ul>
</div>
<!-- </div> -->
