


.noHoover:focus {
  outline: none
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #18A0fB
}

.btn-outiline.secondary {
  --bs-btn-active-bg: #e4e4e4 !important
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active, .btn:hover {
  background-color: #e4e4e4;
  color: #000;
  border-radius: 0;
}

// .btn:hover {
//   background-color: #e4e4e4;
//   color: #000;
//   border-radius: 0;
// }
