<div style="margin: 100px 0;">
  <app-referencia-activa [categorieNav]="nomCategoria"></app-referencia-activa>
  <h1 style="font-weight: 900; color:black; ">{{nomCategoria}}</h1>
  <div style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let aF of arrayFiltrar; let i = index">
      <div style="display: flex; flex-wrap: wrap;" *ngIf="aF.options.prods.length > 0">
        <h2 style="font-weight: 900; color:black;">{{aF.title}}</h2>
        <div style="display: flex; flex-wrap: wrap;">
          <div style="width: 25%;" *ngFor="let prod of aF.options.prods">
            <app-product-card [product]="prod" (click)="verProducto(prod)"></app-product-card>
          </div>
        </div>
      </div>
    </div>
</div>
