<ng-template [ngIf]="LineasCarrito.length" [ngIfElse]="empty">
    <div class="container-md container-shadow" style="margin-top: 160px;">
        <div class="row">
            <div class="col-12">
                <div style="display: flex;  flex-direction: column; align-items: center; justify-content: center; align-items: flex-end;">
                    <div *ngFor="let LC of LineasCarrito" style=" display: flex;  flex-direction: column; margin-top: 10px; width: 100%;">
                        <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
                            <div style="display: flex; align-items: center;">
                                <div style="width: 200px;">
                                    <img class="img" src="http://localhost:3001{{LC.getProducto.getImageURL}}" />
                                </div>

                                <div style="margin-left: 40px;">
                                    <p style="font-size: 25px;">{{ LC.producto.getNombre}}</p>
                                    <p style="color: #18A0FB; cursor: pointer; text-decoration: underline; font-size: 20px;" (click)="eliminarProducto(LC)">eliminar producto</p>
                                </div>
                            </div>

                            <div>
                                <div style="display: flex; border: 1px solid black; justify-content: space-between; align-items: center; border-radius: 10px; padding: 5px;">
                                    <p style="margin: 0; font-size: 18px; cursor: pointer; " (click) ="disminuirCantidad(LC)">-</p>
                                    <span>
                                        {{  LC.getCantidad}}
                                    </span>
                                    <p style="margin: 0; font-size: 18px; cursor: pointer;" (click) ="aumentarCantidad(LC)">+</p>
                                </div>
                                <p style="color: gray; font-size: 18px;">{{ LC.getDisponibleTotal }} disponibles</p>
                            </div>

                            <div>
                                <p  style="font-size: 25px;">$ {{ LC.producto.getPrecio}}</p>
                            </div>
                        </div>

                        <hr style="width: 100%; background-color: #e7e7ee;" />
                    </div>

                    <div style="margin: 30px 0;">
                        <p>Total:       {{totalCarrito}}</p>
                        <button  type="button" class="btn btn-primary" (click)="pagar()">
                            Continuar Compra
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #empty>
    <div class="container-md container-shadow" style="margin-top: 160px; padding: 20px; display: flex; justify-content: center; flex-direction: column; align-items: center;">
        <p style="font-size: 28px; color: #FF9900; font-weight: bold;">Tu carrito esta vació</p>

        <p style="font-size: 18px;">¿No sabes qué comprar? ¡Miles de productos te esperan!</p>

        <button type="button" class="btn btn-primary" [routerLink]="['/']">Ver productos</button>
    </div>
</ng-template>
