<ion-header>
  <ion-toolbar>
    <ion-title>Historial Ordenamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-card class="card">

        <ion-card-title>
          <ion-row class="cabezera">
            <ion-col size="3">
              <ion-label class="styleCabecera">Numero</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label class="styleCabecera">Usuario</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label class="styleCabecera">Fecha Inicio</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label class="styleCabecera">Fecha Fin</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-title>


        <ion-card-content style=" padding:0px 0px 13px 0px">
          <ion-grid>
           <ion-content style=" height:65vh;">
              <ion-row  class="cuerpo" *ngFor="let item of arrayEstante" >
                <ion-col size="3">
                  <ion-label style="color:black">
                    {{item.gtidEstante}}
                  </ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-label style="color:black">
                    {{item.gtnombreEmpleado}}
                  </ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-label style="color:black">
                    {{formatearFecha(item.getfecha_inicio)}}
                  </ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-label style="color:black">
                    {{formatearFecha(item.gtfecha_fin)}}
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-content>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

