<ng-template [ngIf]="!isSearching" [ngIfElse]="search">
  <div style="margin: 100px 0;">
    <div style="display: flex; flex-wrap: wrap;" >
      <app-carousel key="ofertas" [id]="ofertas" [images]="OFERTAS"></app-carousel>

      <p style="font-size: 42px; font-weight: bold; margin-top: 30px;">Mas vendidos</p>
      <app-carousel key="mas-vendidos" [id]="mas-vendidos" [images]="MAS_VENDIDOS"></app-carousel>

      <p style="font-size: 42px; font-weight: bold; margin-top: 30px;">Mas recientes</p>
      <app-carousel key="nuevos" [id]="nuevos" [images]="NUEVOS"></app-carousel>


      <div style="width: 20%;" *ngFor="let item of Productos">
        <app-product-card [product]="item" (click)="verProducto(item)"></app-product-card>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #search>
  <div style="margin: 100px 0;">
    <div style="display: flex; flex-wrap: wrap;" >

      <div key="buscar" style="width: 20%;" *ngFor="let item of Productos">
        <app-product-card [product]="item" (click)="verProducto(item)"></app-product-card>
      </div>
    </div>
  </div>
</ng-template>
