<div>
  <div *ngFor="let item of arrayList">
    <h2 style="size: 32;">{{item.title}}</h2>
    <div *ngFor="let ft of item.options">
      <input style="margin-right: 10px; margin-bottom: 10px;" type="checkbox" name="{{ft.label}}">
      <label style="color: black">{{ft.label}}</label>
    </div>
    <div style="margin-top: 30px;">
    </div>
  </div>
</div>
