<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Catálogo Productos</ion-title>
  </ion-toolbar>
</ion-header> -->
<div style="margin: 60px 0">
  <ion-row>
    <ion-col size-lg="1" size-sm="3" size-md="3">
      <ion-fab-button style="margin-left: 40%;"  color="light" (click)="modalAgregaEmpleados()" >
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-col>
    <ion-col size-md="9" size-sm="6" size-lg="6">
      <ion-item class="buscador" lines="none">
        <ion-icon name="search-outline"></ion-icon>
       <!-- <ion-input
          id="inputBuscar"
          type="text"
          placeholder="Enter Para Buscar"
          autocomplete="off"
          (keyup.enter)="buscarProducto(false)"
          [(ngModel)]="search"
          maxlength="20"
          (keypress)="soloLetras($event,'numerosLetras')">
        </ion-input>-->
      </ion-item>
    </ion-col>
   <!-- <ion-col size-lg="1" size-sm="3" size-md="3">
      <ion-fab-button style="margin-left: 40%;"  color="light" (click)="levantarModalFiltroProducts()">
        <ion-icon name="filter"></ion-icon>
      </ion-fab-button>
    </ion-col>
    <!-- <ion-col>
      <ion-button class="boton_aplicar" (click)="buscarProducto()">
        Buscar
      </ion-button>
    </ion-col> -->
  </ion-row>
  <!-- INICIAN CHIPS -->
 <!--
  <ion-row>
    <div style="display: inline-flex;">
      <div>
        <ion-col *ngIf="filtro.i_usuario_id !=0">
          <ion-chip color="success">
            <ion-label>Empleado: {{filtro.v_nombreEmpleado}}</ion-label>
            <ion-icon name="close-circle" (click)="removerFiltro('empleado')"></ion-icon>
          </ion-chip>
        </ion-col>
      </div>
    </div>
    <div style="display: inline-flex;">
      <div>
        <ion-col *ngIf="filtro.id_marca !=0">
          <ion-chip color="success">
            <ion-label>Marca: {{filtro.v_nombreMarca}}</ion-label>
            <ion-icon name="close-circle" (click)="removerFiltro('marca')"></ion-icon>
          </ion-chip>
        </ion-col>
      </div>
    </div>
    <div style="display: inline-flex;">
      <div>
        <ion-col *ngIf="filtro.id_categoria !=0">
          <ion-chip color="success">
            <ion-label>Categoría: {{filtro.v_nombreCategoria}}</ion-label>
            <ion-icon name="close-circle" (click)="removerFiltro('categoria')"></ion-icon>
          </ion-chip>
        </ion-col>
      </div>
    </div>
    <div style="display: inline-flex;">
      <div>
        <ion-col *ngIf="filtro.f_registro_inicio !=''">
          <ion-chip color="success">
            <ion-label>Desde: {{filtro.f_registro_inicio}} Hasta: {{filtro.f_registro_fin}}</ion-label>
            <ion-icon name="close-circle" (click)="removerFiltro('fecha')"></ion-icon>
          </ion-chip>
        </ion-col>
      </div>
    </div>

    </ion-row>-->
  <!-- FIN CHIPS -->

  <!-- Catalogo de productos -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card">
          <ion-card-title>
            <ion-row class="cabezera">
              <ion-col size="2">
                <ion-label class="styleCabecera">Nombre</ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label class="styleCabecera">Apellido</ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label class="styleCabecera">Telefono</ion-label>
              </ion-col>
              <ion-col size="2" class="classTresPuntos">
                <ion-label>Rol</ion-label>
              </ion-col>
              <ion-col size="1">
                <ion-label class="classTresPuntos" >Estante</ion-label>
              </ion-col>
            <!-- <ion-col size="2">
                <ion-label class="styleCabecera">Fecha registro</ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label class="styleCabecera">Empleado</ion-label>
              </ion-col>--> 
              <ion-col size="2" style="text-align:center ;">
                <ion-label>Acciones</ion-label>
              </ion-col>
            </ion-row>
          </ion-card-title>
          <ion-card-content style=" padding:0px 0px 13px 0px">
            <ion-grid>
             <ion-content style=" height:65vh;">
                <ion-row  class="cuerpo" *ngFor="let item of arrayEmpleados" >
                  <ion-col size="2">
                    <ion-label style="color:black">
                      {{item.Nombre}}
                    </ion-label>
                  </ion-col>
                  <ion-col size="3">
                    <ion-label style="color:black">
                      {{item.ape_Paterno}} {{item.ape_Materno}}
                    </ion-label>
                  </ion-col>
                  <ion-col size="2">
                    <ion-label style="color:black">
                      {{item.Telefono}}
                    </ion-label>
                  </ion-col>
                  <ion-col size="2">
                    <ion-label style="color:black">
                      {{item.Usuario.Rol.nombre_Rol}}
                    </ion-label>
                  </ion-col>
                  <ion-col size="1">
                    <ion-label style="color:black">
                      {{item.obj_Estante.idEstante}}
                    </ion-label>
                  </ion-col>
                 <!-- <ion-col size="2">
                    <ion-label style="color:black">
                      {{formatearFecha(item.f_registro)}}

                    </ion-label>
                  </ion-col>
                 <ion-col size="2">
                    <ion-label style="color:black">
                      {{item.v_nombreUsuario}}
                    </ion-label>
                  </ion-col>-->
                  <ion-col size="2" class="acciones">
                    <ion-row>
                      <ion-col size="1" style="border: 0px;"> </ion-col>
                      <ion-col size="2" style="border: 0px;">
                        <ion-icon class="btnaccion" name="create-outline" 
                        style="color: black;">
                        </ion-icon>
                      </ion-col>
                          <ion-col size="1" style="border: 0px;"> </ion-col>
                      <ion-col size="2" style="border: 0px;">
                        <ion-icon class="btnaccion" name="trash-outline"
                           style="color: red;"></ion-icon>
                      </ion-col>
                     <!-- <ion-col size="1" style="border: 0px;"> </ion-col>
                      <ion-col size="2" style="border: 0px;">
                        <ion-icon class="btnaccion"  style="color: black;" name="pricetag-outline"
                       
                        ></ion-icon>
                      </ion-col>-->
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-infinite-scroll threshold="10px"  [disabled]="infiniteDisabled" (ionInfinite)="loadData($event)">
                  <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Cargando...">
                  </ion-infinite-scroll-content>
                </ion-infinite-scroll>
              </ion-content>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
