.boton_aplicar{
    --background: #FF9900;
    width: 250px;
    color: #000000;
    }
    .cabecera{
      background-color: #373737;
    }
    .divImg{

    }
    .card{
      height: 85vh;

    }
  .desclbl
    {
  font-size: 13px;
    }
    .titulolbl{
      font-size: 13px;
      font-weight: bold;
      color: #000000;
    }
    .lblClass{
      font-size: 18px;
      width:100%;
      font-weight: bold;
      text-align: center;
      color: #000000;
    }
    .lblClassTitulo{
        font-size: 24px;
        width:100%;
        font-weight: bolder;
        text-align: left;
        margin-left: 5px;
        color: #000000;
    }
    .lblClassHead{
        font-size: 20px;
        width:100%;
        font-weight: bolder;
        text-align: center;
        color: #fff;
    }
    .lblClassBody{
        font-size: 16px;
        width:100%;
        text-align: center;
        color: #000000;
    }
.colCenter{
    text-align: center;
}
  .cuerpo {
    vertical-align: middle;

    // width: 95%;
    // margin-left: 2.5%;
    // margin-right: 2.5%;

    color: #000000;
  }
