<ion-grid>

  <ion-row>
    <ion-col  size="12" style="height: 90%;">

      <ion-card class="card">
        <div style="margin: 0 2% 0 2%;" *ngIf="!banderaOrdenPendiente" >
        <label class="lblClassTitulo">
          Aún no  tiene una orden asignada, solicite una por favor
        </label>
        <ion-button class="boton_aplicar" style="margin-top: 20px;" [disabled]="banderaBoton" *ngIf="!banderaOrdenPendiente" (click)="comfirmarAlert(2)">
          Solicitar Orden
          </ion-button>

          <ion-row>

              <img width="50%" style="margin-left:25%;opacity: 0.2"  src="../../../assets/img/noOrden.png" alt="" />


          </ion-row>

        </div>

       <div style="margin: 0 2% 0 2%;" *ngIf="banderaOrdenPendiente" >
        <ion-row style="text-align:left;">
          <ion-label class="lblClassTitulo" >
            Orden #{{ordenAct.getIdOrden}} <ion-label class="lblClassTitulo" style="margin-left: 30px;"> Fecha Inicio - {{formatearFecha(ordenAct.getfecha_inicio)}}</ion-label>
          </ion-label>
        </ion-row>
        <ion-row style="text-align:left;">
          <ion-label class="lblClassTitulo" >
           Ruta sugerida partiendo de tu estante #{{estante}}
          </ion-label>

        </ion-row>
        <!-- CABECERA -->
        <ion-row>
          <ion-col size="3" class="cabecera">
            <ion-label class="lblClassHead" >
              Producto
             </ion-label>
          </ion-col>
          <ion-col size="3" class="colCenter cabecera">
            <ion-label class="lblClassHead" >
              Provedor
             </ion-label>
          </ion-col>
          <ion-col size="2" class="colCenter cabecera">
            <ion-label class="lblClassHead" >
              Cantidad
             </ion-label>
          </ion-col>
          <ion-col size="3" class="colCenter cabecera">
            <ion-label class="lblClassHead" >
              Estante/Sección
             </ion-label>
          </ion-col>
          <ion-col size="1" class="colCenter cabecera">
            <ion-label class="lblClassHead" >
              Surtido
             </ion-label>
          </ion-col>
        </ion-row>
        <!-- CUERPO -->
        <div style="overflow-y: auto;height:70vh">
          <ion-row *ngFor="let item of detalleOrden;let i = index" >
            <ion-col size="3" >
              <ion-label class="lblClassBody" >
                {{item.getNombre_producto}}
               </ion-label>
            </ion-col>
            <ion-col size="3" class="colCenter">
              <ion-label class="lblClassBody" >
                {{item.getNombre_provedor}}

               </ion-label>
            </ion-col>
            <ion-col size="2" style="text-align: right;">
              <ion-label class="lblClassBody" >
                {{item.getCantidad}}
               </ion-label>
            </ion-col>
            <ion-col size="3" class="colCenter">
              <ion-row *ngIf="item.idestante !=0" >
                <ion-col size="5.5" style="text-align: right;">
                  <ion-label class="lblClassBody" style="margin-right:10px">
                    E{{item.idestante}}
                   </ion-label>
                </ion-col>
                <ion-col size="1" style="text-align: center;">
                  <ion-label class="lblClassBody">
                    /
                   </ion-label>
                </ion-col>
                <ion-col size="5.5" style="text-align: left;">
                  <ion-label class="lblClassBody"style="margin-left:10px" >
                    S{{item.idSeccion}}
                   </ion-label>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="item.idestante ==0" >

                <ion-col size="12" style="text-align: center;">
                  <ion-label class="lblClassBody">
                    Bodega
                   </ion-label>
                </ion-col>

              </ion-row>
            </ion-col>
            <ion-col size="1" class="colCenter">
              <ion-checkbox (ionChange)="cambiarEstado(item)"  [checked]="item.getEstatus">

              </ion-checkbox>
            </ion-col>
          </ion-row>
        </div>
       </div>

      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" style="text-align:right ;">
<ion-button class="boton_aplicar" [disabled]="!banderaFinalizar" *ngIf="banderaOrdenPendiente" (click)="comfirmarAlert(1)">
Finalizar Orden
</ion-button>

    </ion-col>
  </ion-row>
</ion-grid>
