<div class="container-md container-shadow" style="margin-top: 160px;">
    <app-referencia-activa [categorieNav]="producto.getNombreCategoria" [currentProduct]="producto.getNombre" [idCat]="producto.getIdCategoria"></app-referencia-activa>
    <div class="row">
        <div class="col-6">
            <div style="display: flex; align-items: center; justify-content: center; width: 500px; height: 400px;">
                <img class="img" alt="{{producto.nombre}}" src="http://localhost:3001{{producto.getImageURL}}" />
            </div>
        </div>
        <div class="col-6">
            <div>
                <p style="font-weight: bold; font-size: 25px;">
                    {{producto.getNombre }}
                </p>
                <p> ${{producto.precio }}</p>
                <p> {{producto.getDescripcion }}</p>
            </div>

            <!-- PROVEEDOR -->
            <div>
                <div>
                    <span>Proveedor: </span>
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false"
                        style="border: none; display: flex; justify-content: space-between; align-items: center; font-size: 15px;">
                        {{(selectedProv && selectedProv.nombre) || 'Seleccione Proveedor'}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li *ngFor="let itemProv of arrayProv">
                            <p class="dropdown-item" (click)="selectProveedor(itemProv)">{{ itemProv.nombre }}</p>
                        </li>
                    </ul>
                </div>

                <!-- CANTIDAD -->
                <div style="margin-top: 10px;">
                    <span>Cantidad: </span>

                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false"
                        style="border: none; display: flex; justify-content: space-between; align-items: center; font-size: 15px;">
                        {{selectedCant}}
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li *ngFor="let itemCant of arrayCant">
                            <p class="dropdown-item" (click)="cantidadOnChange(itemCant)">{{ itemCant }}</p>
                        </li>
                    </ul>
                </div>

                <div style="position: relative;">
                    <div style="background-color: #FF9900; width: 50%;"></div>
                </div>
            </div>

            <ng-template [ngIf]="!loading" [ngIfElse]="btnLoading">
                <div style="margin-top: 10px">
                    <button class="btn btn-warning btn-block" (click)='agregarAlCarrito()'> Agregar a carrito</button>
                </div>
            </ng-template>

            <ng-template #btnLoading>
                <div
                    style="width: 150px; background-color: #FF9900; margin-top: 10px; border-radius: 10px; text-align: center;">
                    <div class="spinner-border text-dark" role="status">
                        <span class="visually-hidden"> ...loading</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
