<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Catálogo Productos</ion-title>
  </ion-toolbar>
</ion-header> -->
<div style="margin: 60px 0">


  <!-- Catalogo de productos -->

  <ion-grid *ngIf="!banderaVerPendiente" >
    <ion-row style="text-align:center;">
      <ion-label class="lblClass" *ngIf="estanteActual" >
        Estante {{this.estante_id}} - Ultimo ordenamiento  {{formatearFecha(estanteActual.ultimoOrdenamiento)}}
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let item of secciones" size="4">

        <ion-card class="card">
          <ion-label class="lblClass">
            Seccion#{{item.numSeccion}}
          </ion-label>
                <ion-row>
                 <ion-col size="12">

                  <img  class="divImg" src="http://localhost:3001{{item.productoSeccion.image_url}}" alt="" />
                 </ion-col>

                </ion-row>
                <div style=" overflow-y: auto; height: 15vh !important;">
                  <ion-row>
                    <ion-col size="3">
                      <ion-label class="titulolbl">
                        Nombre:
                      </ion-label>
                    </ion-col>
                    <ion-col size="9" style=" overflow-y: auto;">
                      <ion-label class="desclbl">
                        {{item.productoSeccion.nombreProducto}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3">
                      <ion-label class="titulolbl">
                        Capacidad:
                      </ion-label>
                    </ion-col>
                    <ion-col size="9">
                      <ion-label class="desclbl">
                        {{item.cantidadOtorgada}} de {{item.CapacidadSeccion}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                    <!-- <div style="width: 1%;height:2vh; background-color:aqua;position:relative">
                      <label style="position: absolute;">10%</label>

                    </div> -->
                    <div class="progress">
                      <label style="position: absolute; left:50%;top:10px">{{getMinHeight(item)}}</label>
                      <div class="progress-bar-act" [ngStyle]="{'width' : getMinHeight(item)}">

                          <span class="progress-bar-text"></span>
                      </div>
                  </div>
                    </ion-col>

                  </ion-row>
                </div>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" style="text-align:center ;">
<ion-button [disabled]="banderaPendiente" class="boton_aplicar" (click)="comfirmarAlert(1)">
  Solicitar ordenamiento
</ion-button>
<ion-button [disabled]="!banderaPendiente" (click)="CambiarVista(true)" class="boton_aplicar" style="margin-left: 15px;">
 Ver ordenamiento pendiente
</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="banderaVerPendiente" >
    <ion-row style="text-align:center;">
      <ion-label class="lblClass" *ngIf="estantePendiente" >
        Estante {{this.estante_id}} - Fecha de solicitud  {{formatearFecha(estantePendiente.ultimoOrdenamiento)}}
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let item of seccionesPendiente" size="4">

        <ion-card class="card">
          <ion-label class="lblClass">
            Seccion#{{item.numSeccion}}
          </ion-label>
                <ion-row>
                 <ion-col size="12">

                  <img  class="divImg" src="http://localhost:3001{{item.productoSeccion.image_url}}" alt="" />
                 </ion-col>

                </ion-row>
                <div style=" overflow-y: auto; height: 15vh !important;">
                  <ion-row>
                    <ion-col size="3">
                      <ion-label class="titulolbl">
                        Nombre:
                      </ion-label>
                    </ion-col>
                    <ion-col size="9" style=" overflow-y: auto;">
                      <ion-label class="desclbl">
                        {{item.productoSeccion.nombreProducto}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="3">
                      <ion-label class="titulolbl">
                        Capacidad:
                      </ion-label>
                    </ion-col>
                    <ion-col size="9">
                      <ion-label class="desclbl">
                        {{item.cantidadOtorgada}} de {{item.CapacidadSeccion}}
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                    <!-- <div style="width: 1%;height:2vh; background-color:aqua;position:relative">
                      <label style="position: absolute;">10%</label>

                    </div> -->
                    <div class="progress">
                      <label style="position: absolute; left:50%;top:10px">{{getMinHeight(item)}}</label>
                      <div class="progress-bar" [ngStyle]="{'width' : getMinHeight(item)}">

                          <span class="progress-bar-text"></span>
                      </div>
                  </div>
                    </ion-col>

                  </ion-row>
                </div>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" style="text-align:center ;">
<ion-button  class="boton_aplicar" (click)="comfirmarAlert(2)">
  Confirmar ordenamiento
</ion-button>
<ion-button class="boton_aplicar" (click)="CambiarVista(false)" style="margin-left: 15px;">
 Ver ordenamiento actual
</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
