.boton_aplicar{
  --background: #FF9900;
  width: 250px;
  }
  .divImg{
    height: 15.5vh !important;
    width: 100% !important;
  }
  .card{
    height: 33vh;
  }
.desclbl
  {
font-size: 13px;
  }
  .titulolbl{
    font-size: 13px;
    font-weight: bold;
  }
  .lblClass{
    font-size: 18px;
    width:100%;
    font-weight: bold;
    text-align: center;
  }
  .progress {
    height: 20px;
    width: 100%;


    background-color: #e6f3fa;

}

.progress-bar {
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;

}
.progress-bar-act {
  height: 100%;
  background: #31cb2e;
  display: flex;
  align-items: center;

}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}
